/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

main {
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 320px;
  height: fit-content;
  flex-direction: column;
  margin-top: 1rem;
}

main .perfume-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 20% 35%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-content {
  padding: 1rem;
}

.main-content .small-title {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
}

.main-content h1 {
  margin: 0.5rem 0;
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.main-content p {
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
}

.main-content .price-container {
  display: flex;
  align-items: center;
}

.price-container .current-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

.price-container .old-price {
  margin-left: 1rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 0.875rem;
}

.main-content button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content button span {
  margin-right: 0.5rem;
}

@media screen and (min-width: 760px) {
  body {
    align-items: center;
  }

  main {
    flex-direction: row;
    width: 550px;
    height: 400px;
  }

  main .perfume-img {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    max-width: 50%;
  }

  main .main-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
